<template>
  <v-container id="dashboard" fluid tag="section">
    <base-material-card icon="mdi-earth" :title="$t('Reporte BI')">
    </base-material-card>
    <v-row justify="center" style="margin-left:80%;">
      <v-btn
        style="margin-left:50px;"
        class="text-none"
        depressed
        color="#4CAF50"
        @click="dialog = true"
      >
        Exportar Datos
      </v-btn>
    </v-row>
    <v-row justify="center">
      <v-card>
        <v-card-title>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="desserts"
          :search="search"
        ></v-data-table>
      </v-card>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialog" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span class="headline">Exportar Datos</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="8" md="6">
                  <v-menu
                    ref="menu"
                    v-model="menu"
                    :close-on-content-click="false"
                    :return-value.sync="date"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="date"
                        label="Fecha desde"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu.save(date)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" sm="8" md="6">
                  <v-menu
                    ref="menu2"
                    v-model="menu2"
                    :close-on-content-click="false"
                    :return-value.sync="date2"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="date2"
                        label="Fecha hasta"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date2" no-title scrollable>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="menu2 = false">
                        Cancel
                      </v-btn>
                      <v-btn
                        text
                        color="primary"
                        @click="$refs.menu2.save(date2)"
                      >
                        OK
                      </v-btn>
                    </v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">
              Cerrar
            </v-btn>
            <v-btn color="blue darken-1" text @click="save">
              Buscar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row justify="center">
      <v-dialog v-model="dialog3" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">
            Descargar Excel
          </v-card-title>
          <v-row justify="center" style="margin-top:50px;">
          <v-btn
            color="#4CAF50"
            class="text-none"
            :href="url"
            target="_blank"
          >
            Descargar Excel
            <v-icon
              right
              dark
            >
              mdi-cloud-download
            </v-icon>
          </v-btn>
          </v-row>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog3 = false">
              Cerrar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<script>
import { getSiniestros, createExcel } from "@/api/modules";
export default {
  name: "DashboardDashboard",

  data() {
    return {
      search: "",
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      date2: new Date().toISOString().substr(0, 10),
      menu2: false,
      dialog: false,
      dialog3: false,
      url: '',
      headers: [
        {
          text: "ztmSinie",
          align: "start",
          sortable: false,
          value: "ztmSinie"
        },
        { text: "_0calday", value: "_0calday" },
        { text: "ztmdPlan", value: "ztmdPlan" },
        { text: "ztmUser", value: "ztmUser" },
        { text: "_0apoLocfr", value: "_0apoLocfr" },
        { text: "_0region", value: "_0region" },
        { text: "ztmCltrp", value: "ztmCltrp" },
        { text: "zapCarri", value: "zapCarri" },
        { text: "ztmnacex", value: "ztmnacex" },
        { text: "ztmtcarga", value: "ztmtcarga" },
        { text: "ztmmodser", value: "ztmmodser" },
        { text: "ztmTsini", value: "ztmTsini" },
        { text: "ztmDanad", value: "ztmDanad" },
        { text: "ztmResp", value: "ztmResp" },
        { text: "ztmAnto", value: "ztmAnto" },
        { text: "ztmEdop", value: "ztmEdop" },
        { text: "ztmLesio", value: "ztmLesio" },
        { text: "ztmClasi", value: "ztmClasi" },
        { text: "ztmClapi", value: "ztmClapi" },
        { text: "_0amount", value: "_0amount" },
        { text: "_0currency", value: "_0currency" },
        { text: "ztmSinre", value: "ztmSinre" },
        { text: "zamount", value: "zamount" },
        { text: "ztmdMonr", value: "ztmdMonr" },
        { text: "ztmCount", value: "ztmCount" },
        { text: "ztmProd", value: "ztmProd" },
        { text: "ztmRestr", value: "ztmRestr" },
        { text: "ztmValua", value: "ztmValua" },
        { text: "ztmMonrt", value: "ztmMonrt" },
        { text: "ztmSiner", value: "ztmSiner" },
        { text: "ztmMonr", value: "ztmMonr" },
        { text: "ztmMontr", value: "ztmMontr" },
        { text: "ztmMonn", value: "ztmMonn" },
        { text: "ztmSinen", value: "ztmSinen" },
        { text: "ztmPendr", value: "ztmPendr" },
        { text: "ztmMeta", value: "ztmMeta" },
        { text: "ztmSpgt", value: "ztmSpgt" },
        { text: "ztmStats", value: "ztmStats" },
        { text: "ztmStatr", value: "ztmStatr" },
        { text: "ztmTrecs", value: "ztmTrecs" },
        { text: "ztmMrecs", value: "ztmMrecs" },
        { text: "ztmPendd", value: "ztmPendd" },
        { text: "ztmPenda", value: "ztmPenda" },
        { text: "ztmNopr", value: "ztmNopr" },
        //{ text: "fechaSiniestro", value: "fechaSiniestro" }
      ],
      desserts: []
    }
  },

  computed: {},

  created() {
    this.load()
  },

  methods: {
    complete(index) {
      this.list[index] = !this.list[index]
    },
    async load() {
      let serviceResponse = await getSiniestros()
      this.desserts = Object.values(serviceResponse)
    },
    async save() {
      console.log(this.date)
      console.log(this.date2)
      let data = {
          fechaDesde: this.date,
          fechaHasta: this.date2,
      }
      let response = await createExcel(data)
      console.log(response)
      this.dialog = false
      this.url = response.url
      this.dialog3 = true
    }
  }
};
</script>
